.DS_Store
.idea/
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
document.js
*.log
*.lock
test.*
test/
Test/
.idea/
node_modules/
/v8-compile-cache-0
/Core
main.js
src/*
package-lock.json
nodemon.json
pnpm-lock.yaml
rollup.config.js
.editorconfig
.browserslistrc
.babelrc